
@{
    ViewBag.Title = "Thankyou";
}

<div class="panel">
    <h2>Submission Successful</h2>
    <hr />
    <p>
        Thank you for taking the time to provide us with feedback. We will be getting back to you shortly at the email
        or phone number that you provided.<br /><br />
    </p>
    @Html.ActionLink("Return to Home Page", "Index", "Home")
    <br /><br /><br />

</div>

