@{
    ViewBag.Title = "About Us";
}

<div class="panel" id="about-panel">
    <h3>@ViewBag.Title</h3>
    <p>In 2023, Mario and his family left New York to Phoenix, AZ. After trying to find an authentic New York style
        pizza, Mario decided to open his own pizzeria in 2024. 
        <br />
    </p>
    <img src='@Url.Content("~/Content/Images/mario_moving.gif")' alt="mario moving west" />
    <br /><br />
    <p id="mission-statement">
        <img src='@Url.Content("~/Content/Images/kneeding_dough.jpg")' alt="Mario Kneeds the dough" style="float:right" />
        <span style="clear:both;"></span>
        Mario's Pizza has a very simple mission statement. Produce the best quality new york style pizza using only
        the freshest ingredients. with that in mind, mario only uses the fresh harvested vegetables, local farm fresh
        cheese. Mario even makes the dough and sauce fresh, daily!
        <br /><br />
        Mario's has become so popular that we've opened a second location in Tempe.
        <br style="clear:both;" />
    </p>
</div>
